NGROK_DOMAIN=your-subdomain.ngrok-free.app
NGROK_AUTHTOKEN=your_ngrok_authtoken

N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_RUNNERS_ENABLED=true
N8N_HOST=your-subdomain.ngrok-free.app
WEBHOOK_URL="https://your-subdomain.ngrok-free.app/"
TZ="America/Bogota"
TIMEZONE="America/Bogota"
GENERIC_TIMEZONE="America/Bogota"
