# GENERAL
TZ="America/Bogota"
TIMEZONE="America/Bogota"
GENERIC_TIMEZONE="America/Bogota"

# NGROK
NGROK_DOMAIN=your-subdomain.ngrok-free.dev
NGROK_AUTHTOKEN=your_ngrok_authtoken_here

# PostgreSQL
POSTGRES_DB=n8n-database
POSTGRES_USER=n8nuser
POSTGRES_PASSWORD=changeme

# n8n
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=true
N8N_HOST=your-subdomain.ngrok-free.dev
WEBHOOK_URL="https://your-subdomain.ngrok-free.dev/"
DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=postgres
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=${POSTGRES_DB}
DB_POSTGRESDB_USER=${POSTGRES_USER}
DB_POSTGRESDB_PASSWORD=${POSTGRES_PASSWORD}
EXECUTIONS_MODE=queue
QUEUE_BULL_REDIS_HOST=redis
QUEUE_BULL_REDIS_PORT=6379
QUEUE_WORKERS=3
N8N_PROXY_HOPS=1
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=${POSTGRES_USER}
N8N_BASIC_AUTH_PASSWORD=${POSTGRES_PASSWORD}
GENERIC_TIMEZONE=${TZ}
TZ=${TZ}
N8N_LOG_LEVEL=info
N8N_METRICS=true
NODE_FUNCTION_ALLOW_EXTERNAL="*"
NODE_FUNCTION_ALLOW_BUILTIN="*"
